<div class="topology">
  <div class="topology-header">
        <div class="topology-header-title">
          <h4>Network Topology - {{header}}</h4>
          <h5>Router ID: {{connectionDetails.routerid == null ? "fetching data..." : connectionDetails.routerid}}, IP Address: {{connectionDetails.ipaddress}}, Time: {{connectionDetails.time}}</h5>
        </div>

        <div class="topology-header-filter" ng-show="responseReady">

          <div class="sink-tree" ng-show="!topology">
            <select id="routerstopology" ng-model="routerfilter" ng-change="changedSource(routerfilter)">
              <!--<option value="">Select a router</option> -->
              <option ng-repeat="data in routers" value="{{data}}">{{data}}</option>
            </select>
            <select id="routerstopology" ng-model="destinationFilter" ng-change="changedDestination(destinationFilter)">
              <option value="">Select a router</option>
              <option ng-repeat="data in routers" value="{{data}}">{{data}}</option>
            </select>

            <input type="text" class="sync-tree-distance" id="distance" value={{distance}} disabled>
          </div>

          <button class="button-tree" ng-click="SwitchView()"><i class="icon icon-topology"></i>{{buttonTitle}}</button>
        </div>
  </div>

  <div class="graph" id="graph" ng-style="{'background-color': background}">
        <div ng-show="!responseReady" class="loader-square-grid">
            <div class="loader-square loader-square1"></div>
            <div class="loader-square loader-square2"></div>
            <div class="loader-square loader-square3"></div>
            <div class="loader-square loader-square4"></div>
            <div class="loader-square loader-square5"></div>
            <div class="loader-square loader-square6"></div>
            <div class="loader-square loader-square7"></div>
            <div class="loader-square loader-square8"></div>
            <div class="loader-square loader-square9"></div>
            <p class="loading">Loading data...  </p>
        </div>
        <button class="button-external" ng-show="responseReady" ng-click="ShowExternal()">{{externalTitle}}</button>
  </div>

  <div class="legend" id="legend">
    <p><b>Legend:</b></p>
    <p><span class="circle connected">&nbsp;</span> Source (Router)</p>
    <p><span class="circle router">&nbsp;</span> Router</p>
    <p><span class="circle switch">&nbsp;</span> Switch</p>
    <p><span class="circle ext">&nbsp;</span> External Route(s)</p>
    <p><span class="link network">&nbsp;</span> Link / Network</p>
    <p><span class="link sinktree">&nbsp;</span> Shortest Path</p>
  </div>
</div>
