h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
}
body {
  margin: 2em;
  font: normal 12px HelveticaNeue, Helvetica, Arial;
}

.njg-hidden {
    display: none !important;
    visibility: hidden !important;
}

.njg-tooltip{
    font-family: sans-serif;
    font-size: 10px;
    fill: #000;
    opacity: 0.5;
    text-anchor: middle;
}

.njg-overlay{
    display: none;
    position: absolute;
    z-index: 11;
}

.njg-close{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.njg-close:before { content: "\2716"; }

.njg-metadata{
    display: none;
    position: absolute;
    z-index: 12;
}

.njg-node{ cursor: pointer }
.njg-link{ cursor: pointer }

#njg-select-group {
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    margin-top: -7.5em;
    margin-left: -25%;
    padding: 5em 2em;
}

#njg-select-group select {
    font-size: 2em;
    padding: 10px 15px;
    width: 50%;
    cursor: pointer;
}

#njg-select-group option {
    padding: 0.5em;
}

#njg-select-group option[value=""] {
    color: #aaa;
}

.njg-overlay{
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    min-width: 150px;
    padding: 0 15px;
    right: 10px;
    top: 100px;
    width: 200px;
    left: calc(90% - 200px);
}

.njg-metadata{
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    display: none;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    left: 5px;
    max-width: 200px;
    min-width: 150px;
    padding: 0 10px;
    top: 100px;
    width: auto;
}

.njg-node{
    stroke-opacity: 0.5;
    stroke-width: 7px;
    stroke: #fff;
}

.njg-node:hover,
.njg-node.njg-open {
    stroke: rgba(255, 128, 0, 0.5);
}

.njg-link{
    cursor: pointer;
    stroke: #999;
    stroke-width: 2;
    stroke-opacity: 0.25;
}

.njg-link:hover,
.njg-link.njg-open{
    stroke-width: 4 !important;
    stroke-opacity: 0.5;
}

body{ overflow: hidden }
.wireless{ stroke: #669999 }				/* light green */
.wireless_weak{ stroke: #ccccff }			/* light grey */
.ethernet{ stroke: #00ff00; stroke-opacity: 0.7 }	/* glowing green */
.fiber{ stroke: #1f77b4 }
.vpn{ stroke: purple; }
.njg-node{ fill: #3182bd }
.njg-node.gateway{ fill: #ff8000 !important }
.njg-link{ stroke-width: 5px }
.njg-link:hover,.njg-link.njg-open{
    stroke-width: 6px !important;
    stroke-opacity: 0.7 !important
}

/* legend */
#legend{
    position: relative;
    display: flex;
    left: 2.5%;
    height: 35px;
    bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}
#legend p{ line-height: 16px; margin: 10px 15px}
#legend span{
    width: 16px;
    margin-right: 5px;
}
#legend span.circle{
    display: inline-block;
    border-radius: 50%;
    height: 16px;
}
#legend span.link{
    display: inline-block;
    height: 5px;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}
#legend .node{ background-color: #3182bd }
#legend .gateway{ background-color: #ff8000 }
#legend .wireless{ border-color: #669999 }		/* light green */
#legend .wireless_weak{ border-color: #ccccff }		/* light grey */
#legend .ethernet{ border-color: #00ff00 }		/* glowing green */
#legend .fiber{ border-color: #1f77b4 }
#legend .vpn{ border-color: purple }

#graph {
  height: 77%;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  outline: 2px solid #318ec5;
}

.header {
  display: inline-flex;
  width: 100%;
}
.title {
    color: #369;
    margin: 10px 20px 0px 20px;
    width:95%;
}

.logo {
    max-width: 180px;
    max-height: 55px;
    right: 10px;
    position: relative;
    top: 10px;
}

.top-nav {
    border-radius: 5px;
    background: #dcdcdc;
}

.icon-list {
    background: url('../img/ic_list_white_18pt.png') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0px 5px 2px 0px;
    vertical-align: text-bottom;
}

.icon-hub {
    background: url('../img/ic_router_white_18dp.png') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0px 5px 2px 0px;
    vertical-align: text-bottom;
}

.icon-topology {
    background: url('../img/ic_device_hub_white_18pt.png') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0px 5px 3px 0px;
    vertical-align: bottom;
}

.current-time {
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 5px 0px 5px;
}

.button-connect {
  border-radius: 4px;
  padding: 3px 7px;
  color: white;
  border: 1px solid #2e2e33;
  line-height: 13px;
  background: #3a3a40;
  background-size: 100%;
}

.button-lsa:disabled, .button-router:disabled, .button-network:disabled, .button-topology:disabled {
  cursor: not-allowed;
  opacity: 0.65;
  //display: none;
}

.button-lsa,.button-router,.button-network,.button-topology {
  border-radius: 4px;
  padding: 3px 7px;
  background: #318ec5;
  text-shadow: none;
  color: white;
  border: 0;
}

/* index.htm styles */
.connect {
  margin: 20px auto 20px auto;
  width: 500px;
  background-color: whitesmoke;
}

.connect-title {
  text-align: center;
}

.connect-form {
  margin: 0px 20px 0px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.form-group {

}

.form-control {
  width: 300px;
}

.help-block, .help-inline {
  color: #ff0000;
}

.form-actions {
  text-align: right;
}

.checkbox-demo {
  vertical-align: top;
}

#switch {
  fill: #ff8000;
}

/* lsa.htm styles */
.lsa {
  width: 400px;
  margin: 10px auto;
}
